<mat-toolbar>
  <span class="title">{{ title }}</span>
  <span class="example-fill-remaining-space"></span>

  <div>
    <a mat-button [routerLink]="url" class="breadcrumb-text">{{last}}</a>
    <span>
      <mat-icon class="breadcrumb-icon">keyboard_arrow_right</mat-icon>
      <a class="breadcrumb-text">{{ active }}</a>
    </span>
  </div>
</mat-toolbar>