.example-fill-remaining-space {
  flex: 1 1 auto;
}
.breadcrumb-text {
    color: #00979d;
    font-size: 11px;
}
mat-toolbar {
    margin-bottom: 16px;
    display: flex; 
    flex-wrap: wrap;
    min-height:70px;
}
mat-toolbar > a {
    padding: 0 !important;
}
mat-toolbar > div {
    min-width: 201px;
    float:right;
    padding-bottom: 6px;
}
.breadcrumb-icon {
    vertical-align: middle;
}
.margin {
    margin-bottom: 16px;
}
.title {
    min-width: 201px;
}