<!--
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Bar Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Doughnut Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Radar Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Pie Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Polar Area Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
                    [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Line Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart width="500" height="200" [datasets]="lineChartData" 
                    [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" 
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
-->
<app-header title="Gráficos" last="Dashboard" url="/dashboard" active="Gráficos"></app-header>

<div fxFlex>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Temperatura e umidade</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <canvas baseChart width="500" height="200" 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </mat-card-content>
    </mat-card>
</div>