@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';

@import '~@angular/material/theming';

@include mat-core();

// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-teal, 700, A100, A400);
$candy-app-accent:  mat-palette($mat-blue, 900, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

//---------- CUSTOM CSS ----------------//
.mb-2 {
    margin-bottom: 2px;
} 
.mt-2 {
    margin-top: 2px;
}
.ml-2 {
    margin-left: 2px;
}