<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'wifi_tethering'" [count]="1" [label]="'Lê sensor de temperatura periodicamente.'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'devices'" [count]="2" [label]="'Envia dado para um servidor através do CoAP'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'cloud_upload'" [count]="3" [label]="'Servidor Java armazena dado no Firebase'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'mobile_friendly'" [count]="4" [label]="'Front-end Web exibe os dados em tempo real'"></app-stat>
    </div>
</div>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar...">
</mat-form-field>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="temperatura">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
                <td mat-cell *matCellDef="let element"> {{element.temperatura | temp}} </td>
            </ng-container>
            <ng-container matColumnDef="umidade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Umidade </th>
                <td mat-cell *matCellDef="let element"> {{ (element.umidade / 100) | percent:'1.2' }} </td>
            </ng-container>
            <ng-container matColumnDef="dateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.dateTime}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['temperatura', 'umidade', 'dateTime'];"></tr>
            <tr mat-row *matRowDef="let row; columns: ['temperatura', 'umidade', 'dateTime']; let even = even;" [ngClass]="{gray: even}"></tr>
        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
</div>

<!--
<mat-card class="mb-20">
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="ativaNoTemperatura()">Buscar temperatura</button>
        <button mat-raised-button color="accent">Habilitar envio automático</button>
        <button mat-raised-button color="warn">Pausar envio automático</button>
    </mat-card-content>
</mat-card>
-->