<app-header title="Documentos da monografia" last="Dashboard" url="/dashboard" active="Documentos da monografia">
</app-header>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>

    <!-- Search form -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Pesquisar" id="myInput" (keyup)="search(filter)" title="Título do arquivo" [(ngModel)]="filter" name="filter">
        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="[filter='', search('')]">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <mat-accordion id="myUL">

      <div class="mb-2 mt-2" *ngFor="let doc of listDocs">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{doc.title}}</mat-panel-title>
          </mat-expansion-panel-header>
          <h3 class="m-0 center">{{doc.subtitle}}</h3>
          <div class="image">
            <img mat-card-image src="{{doc.src}}" class="{{doc.size}}">
          </div>
        </mat-expansion-panel>
      </div>

      <div class="mb-2 mt-2">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>SpitFirefox apk (Android client CoAP)</mat-panel-title>
          </mat-expansion-panel-header>
          <h3 class="m-0 center">Credits: <a href="https://github.com/okleine/spitfirefox" target="_blank">Oliver kleine</a></h3>
      
          <button mat-button
            (click)="openLink('https://gitlab.com/monografia-kamila/spitfirefox-android-coap/blob/master/app/release/app-release.apk')">
            <mat-icon>cloud_download</mat-icon>
            <span class="ml-2">Página GitLab (Esteja logado)</span>
          </button>

          <a download="spitfirefox" target="_blank" href="/assets/app_release_app-release.apk">
            <button mat-button>
                <mat-icon>cloud_download</mat-icon>
                <span class="ml-2">Apk</span>
            </button>
          </a>
      
        </mat-expansion-panel>
      </div>

    </mat-accordion>

  </div>
</div>