.image {
    text-align: center;
    padding-top: 1.5em;
}

.center {
    text-align: center;
}

.small {
    max-height: 8em;
    object-fit: contain;
    width: 100%;
}
.medium-w {
    max-width: 27em;
    width: 100%;
}
.medium-h {
    max-height: 18em;
    object-fit: contain;
    width: 100%;
}
.big {
    max-width: 45em;
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
