<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        Portal CoAP
    </div>
    <!-- <form class="hidden-sm" style="margin-left: 20px; margin-top: 5px">
        <mat-form-field>
            <input matInput [placeholder]="'Search' | translate">
        </mat-form-field>
    </form> -->
    <span class="nav-spacer"></span>

    <!-- BOTAO LINGUAGEM -->
    <!-- <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon>
    </button> -->

    <!-- LINGUAGENS -->
    <!-- <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('pt-br')">
            <span>{{ 'Portuguese' | translate }}s</span>
        </button>
        <button mat-menu-item (click)="changeLang('en')">
            <span>{{ 'English' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('fr')">
            <span>{{ 'French' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('ur')">
            <span>{{ 'Urdu' | translate }}s</span>
        </button>
    </mat-menu> -->

    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="openLink('http://kamilaserpa.github.io')">
            <mat-icon>person</mat-icon>
            <span>{{ 'Developer Resume' | translate }}</span>
        </button>
    </mat-menu>
   
</mat-toolbar>
