.image {
    text-align: center;
    padding-top: 1.5em;
}

.center {
    text-align: center;
}

.small {
    max-height: 40vh;
    object-fit: contain;
}
.medium-w {
    max-width: 25em;
}
.medium-h {
    max-height: 16em;
    object-fit: contain;
}
.big {
    max-width: 45em;
}
.container {
    padding: 1em;
}
.list-item {
    padding-bottom: 10px;
}