<app-header title="Descrição do projeto" last="Dashboard" url="/dashboard" active="Descrição do projeto"></app-header>

<mat-card>
  <mat-card-content>
    <div class="container">
      <h3>
        Fluxo
      </h3>
      <ul>
        <li class="list-item">
          Leitura periódica do sensor conectado ao ESP8266
        </li>
        <li class="list-item">
          Envio do dado capturado para servidor Java através do protocolo CoAP
        </li>
        <li class="list-item">
          Servidor Java envia dado para o banco em nuvem Realtime Database (Firebase) via Http
        </li>
        <li class="list-item">
          Front-end Web mostra em tempo real os dados
        </li>
      </ul>

      <h3>
        Diagrama de Componentes
      </h3>
      <div class="image">
        <img mat-card-image src="../../../assets/images/DiagramaDeComponentes_coap.png" class="big">
      </div>

      <h3>Recursos</h3>
      <ul>
        <li class="list-item">ESP8266 Wemos D1 mini</li>
        <li class="list-item">Módulo DHT11 - sensor de temperatura e umidade</li>
        <li class="list-item">Computador com Aplicação Java Server</li>
      </ul>

      <h3>Repositórios</h3>
      <ul>
        <li class="list-item">
          Aplicação Android CoAP Client para testes:
          <a href="https://gitlab.com/monografia-kamila/spitfirefox-android-coap" target="_blank">Spitfirefox</a>
        </li>
        <li class="list-item">
          Servidor CoAP Java:
          <a href="https://gitlab.com/monografia-kamila/coap-server" target="_blank">Coap Server</a>
        </li>
        <li class="list-item">
          ESP8266 + DHT11, sensor de temperatura CoAP Client:
          <a href="https://gitlab.com/monografia-kamila/coap-esp8266" target="_blank">ESP8266 ESP-12 Coap Client</a>
        </li>
      </ul>

      <h3>Desenvolvedora</h3>
      <ul>
        <p>Kamila Serpa</p>
        <li class="list-item">
          <a href="https://kamilaserpa.github.io" target="_blank">Resume</a>
        </li>
        <li class="list-item">
          <a href="https://www.linkedin.com/in/kamila-serpa/" target="_blank">LinkedIn</a>
        </li>
      </ul>
     
    </div>
  </mat-card-content>
</mat-card>